
.showPersonal {
  margin: 0 auto;
  margin-top: 20px;
  padding: 50px;
  width: 1200px;
  height: 200px;
  background-color: #fcf1f7;
  box-sizing: border-box;
}

/* 用户头像 */
.userIcon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #fff;
}
.userIcon > img {
  width: 100%;
  border-radius:50%;
}

.userBox {
  display: flex;
  justify-content: left;
  margin-top: 14px;
}

.userItem {
  width: 184px;
  height: 40px;
  margin-bottom: 4px;
  line-height: 40px;
  text-indent: 2em;
  font-size: 14px;
  color: #b1678f;
  background-color: #fcf1f7;
  cursor: pointer;
}

.userActive {
  font-weight: 600;
  letter-spacing:2px;
}

.useShow {
  margin-left: 30px;
  min-height: 600px;
  width: 960px;
}

